@charset "UTF-8";

#wrap {
	width :1200px;
	
	margin : 0 auto;
}

header {
	height: 100px;
}

.contents {
	
}

footer {
	height: 100px;
}

.contents > .user-box {
	width : 400px;
	/*height : 500px;*/
}

.memo-bg {
	background-color : #cccccc;
}

.contents > .memo-box {
	width:800px;
	
}
